<a href="http://52.34.11.68/alpha/homes/testhouse4/index.html" class="btn btn-primary btn-lg" role='button' onclick="window.open('http://52.34.11.68/alpha/homes/testhouse4/index.html', 'newwindow', 'width=1000, height=565'); return false;">Launch 3D House</a>
    