<h2>My Houses</h2>
<hr>

<%= render "shared/house_tiles" %>

<hr>
<p>
  <%= link_to new_house_path do %>
    <button type="button" class="btn btn-primary btn-lg">Add New Home</button>
  <% end %>
</p>