// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#house-info {
	padding: 10px 20px;
	font-size: 1.3em;
	display: block;
	height: 390px;
}